In [1]:
!pip install dmba
!pip install mlba

Collecting dmba
  Downloading dmba-0.2.4-py3-none-any.whl.metadata (1.9 kB)
Requirement already satisfied: graphviz in /usr/local/lib/python3.12/dist-packages (from dmba) (0.21)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (from dmba) (3.10.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from dmba) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from dmba) (2.2.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (from dmba) (1.6.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (from dmba) (1.16.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->dmba) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib->dmba) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->dmba) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->dmba) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->dmba) (26.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib->dmba) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->dmba) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib->dmba) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->dmba) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->dmba) (2025.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn->dmba) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn->dmba) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib->dmba) (1.17.0)
Downloading dmba-0.2.4-py3-none-any.whl (11.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 12.4 MB/s eta 0:00:00
Installing collected packages: dmba
Successfully installed dmba-0.2.4
Collecting mlba
  Downloading mlba-2.0.2-py3-none-any.whl.metadata (1.7 kB)
Downloading mlba-2.0.2-py3-none-any.whl (18.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.6/18.6 MB 43.2 MB/s eta 0:00:00
Installing collected packages: mlba
Successfully installed mlba-2.0.2

In [2]:
#import the pandas package into this notebook as pd
import pandas as pd
import numpy as np
from mlba import regressionSummary
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

no display found. Using non-interactive Agg backend

In [3]:
#load the data from the WestRoxbury CSV file to a dataframe called housing_df
housing_df = pd.read_csv('/content/sample_data/WestRoxbury.csv')

In [4]:
#dimensions of the dataset
housing_df.shape

(5802, 14)

In [5]:
#displays the first 5 rows of the dataset
housing_df.head()

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,NaN
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,NaN
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,NaN
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,NaN

In [6]:
#show all of the data
print(housing_df)

      TOTAL VALUE    TAX  LOT SQFT   YR BUILT  GROSS AREA   LIVING AREA  \
0            344.2  4330       9965      1880         2436         1352
1            412.6  5190       6590      1945         3108         1976
2            330.1  4152       7500      1890         2294         1371
3            498.6  6272      13773      1957         5032         2608
4            331.5  4170       5000      1910         2370         1438
...            ...   ...        ...       ...          ...          ...
5797         404.8  5092       6762      1938         2594         1714
5798         407.9  5131       9408      1950         2414         1333
5799         406.5  5113       7198      1987         2480         1674
5800         308.7  3883       6890      1946         2000         1000
5801         447.6  5630       7406      1950         2510         1600

      FLOORS   ROOMS  BEDROOMS   FULL BATH  HALF BATH  KITCHEN  FIREPLACE  \
0         2.0      6          3          1          1        1          0
1         2.0     10          4          2          1        1          0
2         2.0      8          4          1          1        1          0
3         1.0      9          5          1          1        1          1
4         2.0      7          3          2          0        1          0
...       ...    ...        ...        ...        ...      ...        ...
5797      2.0      9          3          2          1        1          1
5798      2.0      6          3          1          1        1          1
5799      2.0      7          3          1          1        1          1
5800      1.0      5          2          1          0        1          0
5801      2.0      7          3          1          1        1          1

     REMODEL
0        NaN
1     Recent
2        NaN
3        NaN
4        NaN
...      ...
5797  Recent
5798     NaN
5799     NaN
5800     NaN
5801     NaN

[5802 rows x 14 columns]

In [7]:
#Step 3 in the ML process is to explain the obtained data. From there, we learn that we need to rename columns
#Rename columns: replace spaces with '_' to allow dot notation

#here, housing_df is changing only TOTAL VALUE to TOTAL_VALUE
housing_df = housing_df.rename(columns = {'TOTAL VALUE ': 'TOTAL_VALUE'})

#here, a for loop is applied to strip the blank space and replace it with '_' for each column in housing_df.columns
housing_df.columns = [s.strip().replace(' ', '_') for s in housing_df.columns]

housing_df.head()

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,NaN
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,NaN
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,NaN
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,NaN

In [8]:
#loc vs iloc

#df.iloc[row_index, column_index]
#df.loc[row_label, column_label]

#practice showing the first four rows of the data
housing_df.loc[0:3] #print rows a to b, inclusive; looking up item based on its location
housing_df.iloc[0:4] #print rows a to b-1, exclusive; looking up based on its index's location

#Different ways of showing the first 10 values in column TOTAL_VALUE using iloc
housing_df['TOTAL_VALUE'].iloc[0:10]
housing_df.iloc[0:10]['TOTAL_VALUE']
housing_df.iloc[0:10].TOTAL_VALUE  #using dot notation if the column name has no spaces

#Show the fifth row of the first 10 columns
housing_df.iloc[4][0:10]
housing_df.iloc[4, 0:10]
housing_df.iloc[4:5, 0:10] #using a slice to return a dataframe

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2

In [9]:
#use pd.concat to combine non-consecutive columns into a new data frame
#The axis argument specifies the dimension along which the concatenation happens, 0=rows, 1=columns.

pd.concat([housing_df.iloc[4:6, 0:2], housing_df.iloc[4:6, 4:6]], axis=1)

   TOTAL_VALUE   TAX  GROSS_AREA  LIVING_AREA
4        331.5  4170        2370         1438
5        337.4  4244        2124         1060

In [10]:
#To specift a full column, use:

housing_df.iloc[:, 0:1]
housing_df.TOTAL_VALUE
housing_df['TOTAL_VALUE'][0:10]

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: TOTAL_VALUE, dtype: float64

In [11]:
#Descriptive Stats

print('Number of rows ', len(housing_df['TOTAL_VALUE'])) #show length of the first column
print('Mean of TOTAL_VAUE ', housing_df['TOTAL_VALUE'].mean()) #show mean of the first column
housing_df.describe()

Number of rows  5802
Mean of TOTAL_VAUE  392.6857149258877

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE
count,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.00000,5802.000000
mean,392.685715,4939.485867,6278.083764,1936.744916,2924.842123,1657.065322,1.683730,6.994829,3.230093,1.296794,0.613926,1.01534,0.739917
std,99.177414,1247.649118,2669.707974,35.989910,883.984726,540.456726,0.444884,1.437657,0.846607,0.522040,0.533839,0.12291,0.565108
min,105.000000,1320.000000,997.000000,0.000000,821.000000,504.000000,1.000000,3.000000,1.000000,1.000000,0.000000,1.00000,0.000000
25%,325.125000,4089.500000,4772.000000,1920.000000,2347.000000,1308.000000,1.000000,6.000000,3.000000,1.000000,0.000000,1.00000,0.000000
50%,375.900000,4728.000000,5683.000000,1935.000000,2700.000000,1548.500000,2.000000,7.000000,3.000000,1.000000,1.000000,1.00000,1.000000
75%,438.775000,5519.500000,7022.250000,1955.000000,3239.000000,1873.750000,2.000000,8.000000,4.000000,2.000000,1.000000,1.00000,1.000000
max,1217.800000,15319.000000,46411.000000,2011.000000,8154.000000,5289.000000,3.000000,14.000000,9.000000,5.000000,3.000000,2.00000,4.000000

In [12]:
#code for sampling, over/under sampling, and stratified sampling

#random sample of 5 houses
housing_df.sample(5)

#oversample houses with over 10 rooms
weights = [0.9 if rooms > 10 else 0.01 for rooms in housing_df.ROOMS]
housing_df.sample(5, weights=weights)

#startified sampling of houses by remodeling true
housing_df.groupby('REMODEL', dropna=False).sample(frac=0.8)

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
3789,400.9,5043,5235,1920,3968,2118,2.0,9,4,2,0,1,1,Old
3599,279.5,3516,4045,1924,1669,898,1.5,5,2,1,0,1,0,Old
1311,363.7,4575,6059,1960,3401,1459,1.5,6,3,2,1,1,0,Old
1196,268.0,3371,4000,1950,2742,1201,1.0,6,4,1,0,1,0,Old
147,335.3,4218,6400,1974,3404,2612,1.0,7,4,1,1,1,1,Old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013,230.4,2898,4471,1950,1000,900,1.0,5,3,1,0,1,0,NaN
5360,339.1,4265,5000,1930,1980,1250,2.0,6,3,1,0,1,1,NaN
4210,359.2,4518,4031,1921,3261,1456,1.0,6,3,2,0,1,0,NaN
2190,282.9,3558,6799,1950,2526,1251,1.0,7,3,1,0,1,0,NaN
1227,258.2,3248,2600,1900,1616,845,1.5,5,2,1,0,1,0,NaN

In [13]:
#code for reviewing variables

housing_df.dtypes[['TOTAL_VALUE', 'FLOORS', 'REMODEL']] #print the data type

housing_df.columns #print a list of variables

#REMODEL needs to be converted to a categorical variable after replacing the missing values with 'None'
housing_df.REMODEL = housing_df.REMODEL.fillna('None').astype('category')

housing_df.REMODEL.cat.categories #print the categories

housing_df.REMODEL.dtype #Check type of converted variable

CategoricalDtype(categories=['None', 'Old', 'Recent'], ordered=False, categories_dtype=object)

In [14]:
#creating dummy variables in Pandas
#the missing values will create a third category, use the arguments drop_first and dummy_na to control the outcome
housing_df = pd.get_dummies(housing_df, prefix_sep='_', dummy_na=True, dtype=int)
housing_df.loc[:,'REMODEL_None':'REMODEL_Recent'].head(5)

   REMODEL_None  REMODEL_Old  REMODEL_Recent
0             1            0               0
1             0            0               1
2             1            0               0
3             1            0               0
4             1            0               0

In [15]:
#To illustrate missing data procedures, we first convert a few entries for bedrooms to NA's
#Then, we impute these missing values using the median of remaining values.

missingRows = housing_df.sample(10).index
housing_df.loc[missingRows, 'BEDROOMS'] = np.nan #set 10 rows to have missing value
print('Number of rows with valud BEDROOMS values after setting to NA: ', housing_df['BEDROOMS'].count())

#remove rows with missing values
reduced_df = housing_df.dropna()
print('Number of rows after removing rows with missing values: ', len(reduced_df))

#replace the missing values using the median of the remaning values
medianBedrooms = housing_df['BEDROOMS'].median()
housing_df.BEDROOMS = housing_df['BEDROOMS'].fillna(value=medianBedrooms)
print('Number of rows with valid BEDROOMS values after filling NA: ', housing_df['BEDROOMS'].count())

Number of rows with valud BEDROOMS values after setting to NA:  5792
Number of rows after removing rows with missing values:  5792
Number of rows with valid BEDROOMS values after filling NA:  5802

In [16]:
#code for normalizing and rescaling a dataframe
df = housing_df.copy()

#normalizing a dataframe

#pandas
norm_df = (housing_df - housing_df.mean()) / housing_df.std()
norm_df


#scikit-learn
scaler = StandardScaler()
norm_df = pd.DataFrame(scaler.fit_transform(housing_df), index=housing_df.index, columns=housing_df.columns)
norm_df.head()

#the result of the transformation above is a numpy array, we convert it into a data frame

#rescaling a data frame

#pandas
norm_df = (housing_df - housing_df.min()) / (housing_df.max() - housing_df.min())
norm_df.head()

#scikit-learn
scaler = MinMaxScaler()
norm_df = pd.DataFrame(scaler.fit_transform(housing_df), index=housing_df.index, columns=housing_df.columns)
norm_df.head()

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL_None,REMODEL_Old,REMODEL_Recent,REMODEL_nan
0,0.214953,0.215015,0.197472,0.934858,0.220237,0.177220,0.5,0.272727,0.250,0.00,0.333333,0.0,0.00,1.0,0.0,0.0,0.0
1,0.276420,0.276448,0.123156,0.967181,0.311878,0.307628,0.5,0.636364,0.375,0.25,0.333333,0.0,0.00,0.0,0.0,1.0,0.0
2,0.202283,0.202300,0.143194,0.939831,0.200873,0.181191,0.5,0.454545,0.375,0.00,0.333333,0.0,0.00,1.0,0.0,0.0,0.0
3,0.353702,0.353740,0.281323,0.973148,0.574253,0.439707,0.0,0.545455,0.500,0.00,0.333333,0.0,0.25,1.0,0.0,0.0,0.0
4,0.203541,0.203586,0.088145,0.949776,0.211237,0.195193,0.5,0.363636,0.250,0.25,0.000000,0.0,0.00,1.0,0.0,0.0,0.0

In [17]:
#code for partioning the West Roxbury data into training/holdout sets, or training/validation/holdout sets

#random_state is set to a defined value to get the same partitions when re-running the code
#training (60%), holdout(40%)

#MATH --> training --> 5802*0.6 --> 3481
#MATH --> holdout --> 5802*0.4(test_size=0.4) --> 2321

trainData, holdoutData = train_test_split(housing_df, test_size=0.4, random_state=1)
print('Training : ', trainData.shape)
print('Holdout : ', holdoutData.shape)
housing_df.shape

#training (50%), validation(30%), and holdout(20%)
# MATH --> training = 0.5(50%) and temp = 0.5 (test_size = 0.5)
# MATH --> valid = 0.6, holdout = 0.4 (test_size = 0.4)
  #0.6*0.5 = 0.30 --> 30%
  #0.4*0.5 = 0.20 --> 20%

trainData, temp = train_test_split(housing_df, test_size=0.5, random_state=1)
validData, holdoutData = train_test_split(temp, test_size=0.4, random_state=1)

print('Training : ', trainData.shape)
print('Validation : ', validData.shape)
print('Holdout : ', holdoutData.shape)

Training :  (3481, 17)
Holdout :  (2321, 17)
Training :  (2901, 17)
Validation :  (1740, 17)
Holdout :  (1161, 17)

In [18]:
#code for fitting model a regression model to training data (West Roxbury)

#data loading and preprocessing
housing_df.columns = [s.strip().replace(' ', '_') for s in housing_df.columns]
#housing_df.REMODEL = housing_df.REMODEL.fillna('None').astype('category')
housing_df = pd.get_dummies(housing_df, prefix_sep='_', drop_first=True)

#create a list of predictors and outcome
excludeColumns = ('TOTAL_VALUE', 'TAX')
predictors = [column for column in housing_df.columns if column not in excludeColumns]
outcome = 'TOTAL_VALUE'

#partition data
X = housing_df[predictors]
y = housing_df[outcome]
train_X, holdout_X, train_y, holdout_y = train_test_split(X, y, test_size=0.4, random_state=1)

model = LinearRegression()
pred = model.fit(train_X, train_y)

train_pred = model.predict(train_X)
train_results = pd.DataFrame({
    'TOTAL_VALUE': train_y,
    'predicted': train_pred,
    'residual': train_y - train_pred
})

train_results.head()

      TOTAL_VALUE   predicted   residual
2024        392.0  387.727129   4.272871
5140        476.3  430.779871  45.520129
5259        367.4  384.040942 -16.640942
421         350.3  369.005355 -18.705355
1401        348.1  314.717715  33.382285

In [19]:
#predicitons for a sample of holdout data
#code for applying the regression model to predict the holdout set (West Roxbury)

holdout_pred = model.predict(holdout_X)
holdout_results = pd.DataFrame({
    'TOTAL_VALUE': holdout_y,
    'predicted': holdout_pred,
    'residual': holdout_y - holdout_pred
})

holdout_results.head()

      TOTAL_VALUE   predicted   residual
1822        462.0  406.945243  55.054757
1998        370.4  362.893688   7.506312
5126        407.4  390.290373  17.109627
808         316.1  382.473600 -66.373600
4034        393.2  434.343605 -41.143605

In [20]:
#prediction error metrics for training and holdout data (error figures are in thousand of $)
#code for computing model evaluation metrics

#training set
regressionSummary(y_true=train_results.TOTAL_VALUE, y_pred=train_results.predicted)

#holdout set
regressionSummary(y_true=train_results.TOTAL_VALUE, y_pred=train_results.predicted)

Regression statistics

Mean Error (ME) : 0.0000
Root Mean Squared Error (RMSE) : 43.0303
Mean Absolute Error (MAE) : 32.6029
Mean Percentage Error (MPE) : -1.1116
Mean Absolute Percentage Error (MAPE) : 8.4883

Regression statistics

Mean Error (ME) : 0.0000
Root Mean Squared Error (RMSE) : 43.0303
Mean Absolute Error (MAE) : 32.6029
Mean Percentage Error (MPE) : -1.1116
Mean Absolute Percentage Error (MAPE) : 8.4883

In [21]:
#dataframe with three records to be scored
new_data = pd.DataFrame({
    'LOT_SQFT': [4200, 6444, 5035],
    'YR_BUILT': [1960, 1940, 1925],
    'GROSS_AREA': [2670, 2886, 3264],
    'LIVING_AREA': [1710, 1474, 1523],
    'FLOORS': [2.0, 1.5, 1.9],
    'ROOMS': [10, 6, 6],
    'BEDROOMS': [4, 3, 2],
    'FULL_BATH': [1, 1, 1],
    'HALF_BATH': [1, 1, 0],
    'KITCHEN': [1, 1, 1],
    'FIREPLACE': [1, 1, 0],
    'REMODEL_None': [0, 0, 0],    # Add missing columns
    'REMODEL_Old': [0, 0, 1],
    'REMODEL_Recent': [0, 0, 1],
    'REMODEL_nan': [0, 0, 0]      # Add missing column
})

# Make predictions
print(new_data)
print('Predictions: ', model.predict(new_data))

   LOT_SQFT  YR_BUILT  GROSS_AREA  LIVING_AREA  FLOORS  ROOMS  BEDROOMS  \
0      4200      1960        2670         1710     2.0     10         4
1      6444      1940        2886         1474     1.5      6         3
2      5035      1925        3264         1523     1.9      6         2

   FULL_BATH  HALF_BATH  KITCHEN  FIREPLACE  REMODEL_None  REMODEL_Old  \
0          1          1        1          1             0            0
1          1          1        1          1             0            0
2          1          0        1          0             0            1

   REMODEL_Recent  REMODEL_nan
0               0            0
1               0            0
2               1            0
Predictions:  [393.71357928 387.31306187 381.38006716]